---
import Layout from '../components/Layout.astro';
---

<Layout
	title="Events | Vancouver Tool Library"
	description="Check out our upcoming events and workshops"
>
	<div class="container mx-auto px-4 py-8">
		<h1 class="text-4xl font-bold mb-8">Events Calendar</h1>
		<div class="aspect-video w-full">
			<iframe
				src="https://calendar.google.com/calendar/embed?src=14mkc0vjiogrbcmmr654d4j720%40group.calendar.google.com&ctz=America%2FVancouver"
				style="border: 0"
				width="100%"
				height="100%"
				frameborder="0"
				scrolling="no"
			></iframe>
		</div>
	</div>
</Layout> 