---
import Layout from '../components/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import InfoCards from '../components/InfoCards.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1 class="text-3xl font-bold text-center my-8">Welcome to the Vancouver Tool Library!</h1>
  <InfoCards />
</Layout>
